

.nav-1{
    height: 70px;
    /* line-height: 100px; */
    /* float: left; */
}


.bug-text-color {
    fill: white;
}

.background,.linkedin-text{
    fill:#0a66c2;
}

.lazy-loaded {
    width: 100px;
    height: auto; /* Maintain aspect ratio */

}



.logo{
    display:inline-block ;
    margin: auto 8rem auto 12rem;
}



ul .lazy-loaded{
    width: 24px;
    height: 24px;
    text-align: center;
}

.span_block{
    display: block;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    display: inline-block;
    margin-left:3rem;
    margin-top: 0;
    margin-bottom: 0;
    
}

ul li{
    display: inline-block;
    margin: 1rem;
    color: grey;
    
}

.buttons1{
    height: 10vh;
    display: inline-block;
    vertical-align:middle;
    padding-top: 40px;


}
.buttons1 a {
    padding: 20px;
    text-decoration: none;
    align-items: center;
    margin: 0.1rem  0.5em ;
    padding: 18px 30px;
    
}

.apps{
    border-left: 1px solid grey;
    border-right:1px solid grey ;
    padding: 0  10px;
}

.buttons1 .join-btn:hover{
    background-color:grey;
    /* height: 100px; */
    border-radius: 30px;
    color: white;
    

}

.buttons1 .sign-in{
    border-radius: 30px;
    color: blue;
    border: 2px solid blue;
}

.buttons .sign-in:hover{

    background-color: rgb(130, 191, 241);

}


.welcome{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 56px;
    color: #b24020;
  }
  
.section1{
    margin: auto auto auto 12rem;
}

.button-google{
    text-decoration: none;
    background-color: #ffffff;
    padding: 15px 120px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 1px solid black;
    

}

.google-logo{
    width: 20px;
    margin: 0;
    padding: 0;
    display: inline-block;

}


.text-btn{
    position: relative;
    top: 4px;
}

.para{
 
    width: 30%;
    text-align: center;
    padding-top: 15px;
    font: lighter;
    font-size: 14px;

}


.desk_lap{
    float:inline-end;
    width: 40rem;
}

.line_hr{
    padding-bottom: 40px;
}

.line_hr hr{
    width: 15%;
    display: inline-block;

}


input{
    margin-top: 20px;
    padding: 10px 120px;
    margin-bottom: 20px;
}

form a{
    text-decoration: none;
    margin-left: 5px;
    font-weight: 500;
    color: #0a66c2;

}


form .sign-button{
    background-color: #0a66c2;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 700;
    width: 400px;
}

body > section > div > p:nth-child(6){
    margin: 0 120px;
    
}

.join-now{
    color: #0a66c2;
    text-decoration: none;
}


.container{
    display: flex;
    max-width: 1200px;
    margin-left: 80px;
    align-items: center;

}

.container div{
    margin-left: 100px;
}

.container h1{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 36px;
    margin-bottom: 20px;
  }

.container p{
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
  }
  
.buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.buttons a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #040404;
    background-color: #fff;
    text-decoration: none;
    color: #000;
    border-radius: 20px;
}

.buttons a:hover {
    background-color: #f0f0f0;
}
.buttons .show-all {
    background-color: #007bff;
    color: #fff;
    border: none;
}
.buttons .show-all:hover {
    background-color: #0056b3;
}
