

.nav-1{
    height: 70px;
}


.bug-text-color {
    fill: white;
}

.background,.linkedin-text{
    fill:#0a66c2;
}

.lazy-loaded {
    width: 100px;
    height: auto;

}

.logo{
    display:inline-block ;
    margin: auto 8rem auto 12rem;
}



ul .lazy-loaded{
    width: 24px;
    height: 24px;
    text-align: center;
}

.span_block{
    display: block;
}

ul {
    list-style-type: none;
    text-align: center;
    /* padding: 0; */
    display: inline-block;
}

ul li{
    display: inline-block;
    color: grey;
    
}

.buttons1{
    height: 10vh;
    display: inline-block;
    vertical-align:middle;
    padding-top: 40px;


}

.apps{
    border-left: 1px solid grey;
    border-right:1px solid grey ;
    padding: 0  10px;
}

.buttons1 .join-btn:hover{
    background-color:grey;
    border-radius: 30px;
    color: white;
    

}

.buttons1 .sign-in{
    border-radius: 30px;
    color: blue;
    border: 2px solid blue;
}

.buttons .sign-in:hover{

    background-color: rgb(130, 191, 241);

}


.welcome{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 56px;
    color: #b24020;
  }
  
.section1{
    margin: auto auto auto 12rem;
}

.button-google{
    text-decoration: none;
    background-color: #ffffff;
    padding: 15px 120px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 1px solid black;
    

}

.google-logo{
    width: 20px;
    margin: 0;
    padding: 0;
    display: inline-block;

}


.text-btn{
    position: relative;
    top: 4px;
}

.para{
 
    width: 30%;
    text-align: center;
    padding-top: 15px;
    font: lighter;
    font-size: 14px;

}


.desk_lap{
    float:inline-end;
    width: 40rem;
}

.line_hr{
    padding-bottom: 40px;
}

.line_hr hr{
    width: 15%;
    display: inline-block;

}


input{
    margin-top: 20px;
    padding: 10px 120px;
    margin-bottom: 20px;
}

form a{
    text-decoration: none;
    margin-left: 5px;
    font-weight: 500;
    color: #0a66c2;

}


form .sign-button{
    background-color: #0a66c2;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 700;
    width: 400px;
}

body > section > div > p:nth-child(6){
    margin: 0 120px;
    
}

.join-now{
    color: #0a66c2;
    text-decoration: none;
}

  
.buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.buttons a:hover {
    background-color: #f0f0f0;
}
.buttons .show-all {
    background-color: #007bff;
    color: #fff;
    border: none;
}
.buttons .show-all:hover {
    background-color: #0056b3;
}

.buttons li {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #040404;
    background-color: #fff;
    text-decoration: none;
    color: #000;
    border-radius: 20px;
    margin: 0;
}

.buttons a:hover {
    background-color: #f0f0f0;
}
.buttons .show-all {
    background-color: #007bff;
    color: #fff;
    border: none;
}
.buttons .show-all:hover {
    background-color: #0056b3;
}
  
.container{
    margin: 8rem auto;
}

body > div > div.container > div > div:nth-child(2) > ul{
    padding-left: 0;
}


body > div > div.row > div:nth-child(2) > ul{
    padding-left: 0;
}


.container .content1{

    padding-right: 100px;
} 

.container h1{
    margin:0 20px 0 0;
    font-size: 50px;
    font-weight: lighter;
}

body > div.s4 > div > div > div:nth-child(2) > a{

    align-content: center;
}
.s4{
    background-color: #f1ece5;
    width: 100%;
    padding: 50px 100px;


}

.s4 .row{
    width: 70%;
}
.s4 .row  div:nth-child(1){
    
    color: #b24020;
}

body > div.s4 > div > div > div:nth-child(2) > a{
    text-decoration: none;
    color: blue;
    font-weight: 500;
    border: 1px solid blue;
    padding: 15px 25px;
    border-radius: 25px;
 
}

body > div.profile > div > div{

    align-items: center;
}
body > div.profile > div > div > div.col-md-6 > h1{
    color: #b24020;
}

.container .row :nth-child(2){
    align-content: center;
}


.profile{
    background-color: #f1ece5;
    padding: 20px;
}

.profile div:nth-child(2) > img{
    width: 450px;

}
body > div.profile > div > div > div.col-md-1 > icon > svg{
    width: 20px;
    padding-left: 5px;
}




.profile .container .row div p{

    font-size: 30px;
    font-weight: lighter;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* margin:200px; */
}

.grid-container div > img{
 width: 312px;
 height: 312px;
}

.container .grid-container button{
    padding: 10px 40px;
    margin-top: 20px;
    background-color: white;
    color: #000;
    border-radius: 20px;
}

.container .grid-container  div:nth-child(3),div:nth-child(4){
    padding: 0 100px 0 0;
}